<phpunit
    bootstrap="tests/bootstrap.php"
    colors="auto"
    >
    <php>
        <env name="SHOPRUNBACK_URL" value="https://sandbox.dashboard.shoprunback.com"/>
        <env name="SHOPRUNBACK_TOKEN" value="1yHRJJFgzU4McVsuicLNbtm5sPpYeEW2eCpt5-awiWRx7218wg"/>
    </php>
    <testsuites>
        <testsuite name="Shoprunback API Wrapper Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>